.container {
  display: flex;
  width: 20%;
  color: #fff;
  padding: 30px;
  gap: 10px;
  flex-wrap: wrap;
}

.container > div {
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  width: 40%;
  text-align: center;
}
